#override-bootstrap {
 background-color: #fafafa;
 font-family: "Libre Baskerville", serif;
}
.question-box {
 border: 1px solid gainsboro;
 background-color: white;
 padding: 1em;
 margin: 1em 0;
}
#main-container{
  padding: 2em 0;
}
.main-page-container {
 padding-top: 1em;
}
#logo {
 color: #b92b27;
}
#sign-up-button{
 background-color: #b92b27;
 border-color: #b92b27;
}
nav {
  box-shadow: 0 4px 10px -2px gainsboro;
}

#question-form {
 width: 100%;
 padding: 0.5em;
 border: none;
}

#question-form-container {
 margin-top: 0;
}

::placeholder {
 font-weight: 700;
}