<%= erb :header %>


<div class="container" id="login-container">
   <span id="signup-span">   Sign up to get started!</span>
  <form class="px-4 py-3" action="/user/signup" method="POST">
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" class="form-control" name="username">
    </div>
    <div class="form-group">
      <label for="exampleDropdownFormPassword1">Password</label>
      <input type="password" class="form-control" name="password">
    </div>
    <div class="form-group">
      <label for="exampleDropdownFormPassword1">Confirm Password</label>
      <input type="password" class="form-control" name="password_confirmation">
    </div>
    <button type="submit" class="btn btn-danger">Sign in</button>
  </form>
  <div class="dropdown-divider"></div>
</div>

<%= erb :footer %>