<%= erb :header %>


Submit your answer to: <%= @question.question %>

<form action="/questions/<%= @question.id %>/answer" method="POST">
    <input type="text" name="answer" placeholder="Answer the question...."></input>
    <input type="submit">
</form>


<%= erb :footer %>