<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700" rel="stylesheet">

</head>
<body id="override-bootstrap">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
    
      <a class="navbar-brand" href="#" id="logo"><strong>Fake Quora</strong></a>
      
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
       
        <span class="navbar-toggler-icon"></span>
        
      </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            
            <ul class="navbar-nav mr-auto">
                
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                
            </ul>
            
            <ul class="nav navbar-nav navbar-right">
                
             <% if cookies[:username] != (nil) %>
             
                <li class="nav-item">
                    
                    <span class="navbar-text">
                        
                        <%=cookies[:username] %>
                        
                    </span>
                    
                </li>
                
                <li class="nav-item">
                    
                    <a class="nav-link" href="/user/logout">
                        
                        <button class="btn btn-sm btn-outline-secondary">
                            
                            Log out
                            
                        </button>
                        
                    </a>
                    
                </li>
                
            <% else %>

                <li class="nav-item">
                    
                    <a class="nav-link" href="/user/login">
                        
                        <button class="btn btn-sm btn-outline-secondary">
                            
                            Log In
                            
                        </button>
                        
                    </a>
                    
                </li>
                
                <li class="nav-item">
                    
                    <a class="nav-link" href="/user/signup">
                    
                        <button class="btn btn-sm btn-info" id="sign-up-button">
                    
                            Sign Up <i class="fas fa-user-plus"></i>
                    
                        </button>
                    
                    </a>
                    
                </li>

            <% end %>     
            
            </ul>
            
            <form class="form-inline my-2 my-lg-0">
                
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                
                <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Search</button>
            
            </form>
        
        </div>
</nav>